@tailwind base;
@tailwind components;
@tailwind utilities;

/*Benji*/
body {
  margin: 20px;
  padding: 0;
}

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Gabin*/
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0;}
}
.fade-in{
  animation: 0.6s ease-in fadeIn;
}
.fade-out{
  animation: 0.3s ease-in fadeOut;
}
.gradient-fill{
  fill: url(#gradient)
}
@keyframes fade {
  from { opacity: 0; } /* Opacité de départ à 0 */
  to { opacity: 1; } /* Opacité finale à 1 */
}

.toaster-item {
  animation: fade 0.3s ease-in-out;
}